#header{
    height: 75px;
    width: 100%;
    background-color: #34624A;
    display: flex;
    justify-content: baseline;
    align-items: center;
}
#logo{
    margin-left: 300px;
    font-size: 35px;
}